{% extends 'console/family_dashboard.html' %}
{% load static %}

{% block main %}
<div id="chat">
  <div class="card">
    <div class="d-flex w-100 justify-content-between card-body border-bottom">
      <h2>Chat</h2>
    </div>

    <chat></chat>
  </div>
</div>
<div class="card mt-3">
  <a href="{% url 'video' %}" class="btn btn-lg btn-primary">Join a Video Call</a>
</div>


{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue"></script>

<!-- Chat Scripts -->
<script type='text/javascript'>
  var patient = {{ patient_json | safe }};
  var chatId = "{{ chat_id }}";
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/releases/4.0.0/twilio-chat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="{% static 'dashboard/js/nurse_chat.js' %}"></script>
{% endblock %}
