{% extends 'console/family_dashboard.html' %}
{% load static %}

{% block main %}
<div class="container">

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2 text-muted">Daily Notes</h6>
          <p class="card-text">Valerie is being more active than usal today! She went for a walk early in the morning and is currently at our weekly musical event. Looking great!</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">26m</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2 text-muted">Daily Living</h6>
          <p class="card-text">Valerie just got a haircut!</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">2h</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2 text-muted">Health Metrics</h6>
          <p class="card-text">Body Temperature updated to 97.8˚F, Weight updated to 126.5 lb</p>
          <small class="text-muted">Updated by Frank Thomas</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">3h</small>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2 text-muted">Meals</h6>
          <p class="card-text">Valerie just ate breakfast!</p>
          <small class="text-muted">Updated by Anthony Beck</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">7h</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2 text-muted">Daily Notes</h6>
          <p class="card-text">Valerie is being more active than usal today! She went for a walk early in the morning and is currently at our weekly musical event. Looking great!</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">1d</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2 text-muted">Health Metrics</h6>
          <p class="card-text">Blood Sugar updated to 82 mg/dL, Pulse updated to 120 bpm</p>
          <small class="text-muted">Updated by Anthony Beck</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">1d</small>
        </div>
      </div>
    </div>
  </div>

  <br>


</div>
{% endblock %}
