{% extends 'console/family_dashboard.html' %}
{% load static %}

{% block main %}
<div class="container">

  <div class="card border-danger">
    <div class="card-body list-group-item feed-entry intensity-high">
      <div class="row">
        <div class="col">
          <h6 class="">Medications</h6>
          <p class="card-text">Prescription Added: Tylenol (20 ml)</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <h6 class="text-danger">High</h6>
          <small class="text-muted">5h</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card border-warning">
    <div class="card-body list-group-item feed-entry intensity-medium">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Nutrition</h6>
          <p class="card-text">Diet changed to liquid foods</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <h6 class="text-warning">Moderate</h6>
          <div><small class="text-muted">4h</small></div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Daily Notes</h6>
          <p class="card-text">Valerie is being more active than usal today! She went for a walk early in the morning and is currently at our weekly musical event. Looking great!</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">26m</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Daily Living</h6>
          <p class="card-text">Valerie just got a haircut!</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">2h</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Health Metrics</h6>
          <p class="card-text">Body Temperature updated to 97.8˚F, Weight updated to 126.5 lb</p>
          <small class="text-muted">Updated by Frank Thomas</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">3h</small>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Meals</h6>
          <p class="card-text">Valerie just ate breakfast!</p>
          <small class="text-muted">Updated by Anthony Beck</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">7h</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Daily Notes</h6>
          <p class="card-text">Valerie is being more active than usal today! She went for a walk early in the morning and is currently at our weekly musical event. Looking great!</p>
          <small class="text-muted">Updated by Jeanette Reed</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">1d</small>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-title mb-2">Health Metrics</h6>
          <p class="card-text">Blood Sugar updated to 82 mg/dL, Pulse updated to 120 bpm</p>
          <small class="text-muted">Updated by Anthony Beck</small>
        </div>
        <div class="col" align="right">
          <small class="text-muted">1d</small>
        </div>
      </div>
    </div>
  </div>

  <br>


</div>
{% endblock %}
