{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'dashboard/css/nurse_dashboard.css' %}">

{% endblock %}

{% block content %}

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-black px-4 shadow-sm">
    <a class="navbar-brand" href="{% url 'nurse-dashboard' %}">
      <strong>Acrusis<span class="text-muted"> beta</span></strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">

      <ul class="navbar-nav my-2 my-md-0 ml-auto">
        <li class="nav-item">
          Welcome, {{ user.username }}! <a href="{% url 'logout' %}" class="nav-link d-inline">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 px-0 sidebar">
        <div class="pt-3 sticky-top" id="patient-search">
          <div class="px-4">
            <h3>
              <a href="{% url 'home' %}" class="header-link">{{ facility.name }}</a>
            </h3>
          </div>

          <patient-search></patient-search>

        </div>
      </div>
      <div class="col p-0 bg-light">
        {% block main %}
          <div align="center" class="mt-4">
            <h3>Create Patient</h3>
            <form action="{% url 'api-patients:create-patient' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input id="your_name" class="form-control" type="text" name="name" placeholder="Name" value="{{ current_name }}" style="width:50%">
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col footer p-4">
        <p>© Acrusis 2020</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue"></script>
<script type='text/javascript'>
  var patients = {{ patient_list_json|safe }};
</script>
<script type="text/javascript">
  Vue.component('patient-search', {
    delimiters: ['[[', ']]'],
    data: function(){
      return{
        patients: patients,
        query: '',
      }
    },
    computed: {
      filteredPatients: function() {
        if(this.query === ''){
          return this.patients;
        }

        return this.patients.filter((patient) => {
          return patient.name.toLowerCase()
          .includes(this.query.toLowerCase());
        })
      }
    },
    template: `
      <div>
        <div class="input-group mt-4">
          <input type="text" class="form-control form-control-lg rounded-0 border-0 input-dark" placeholder="Search Patients" aria-label="Recipient's username" aria-describedby="button-addon2" name="search-patients" v-model="query">
        </div>
        <ul class="list-group rounded-0 patient-list">
          <a v-for="patient in filteredPatients" class="list-group-item list-group-item-action border-0" :href="patient.profile_url">[[ patient.name ]]</a>
        </ul>
      </div>
    `,
  });
  const patientSearchWidget = new Vue({
    el: '#patient-search',
  });
</script>
{% endblock %}
