{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'dashboard/css/nurse_dashboard.css' %}">

{% endblock %}

{% block content %}

<header>
  <nav class="navbar navbar-expand-md navbar-light px-4 shadow-sm">
    <a class="navbar-brand" href="{% url 'home' %}">
      <strong>CompanyName<span class="text-muted"> beta</span></strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">

      <ul class="navbar-nav my-2 my-md-0 ml-auto">
        <li class="nav-item">
          Welcome, {{ user.username }}! <a href="{% url 'logout' %}" class="nav-link d-inline">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 px-0 bg-light">
        <div class="pt-3 sticky-top shadow-sm">
          <div class="px-4">
            <h3>
              <a href="{% url 'home' %}" class="header-link">{{ facility.name }}</a>
            </h3>
          </div>

          <form id="patient-search">
            <div class="input-group mt-4">
              <input type="text" class="form-control form-control-lg rounded-0" placeholder="Search Patients" aria-label="Recipient's username" aria-describedby="button-addon2" value="{{ search_query }}" name="q">
              <div class="form-group-append">
                <button class="btn btn-lg btn-secondary rounded-0" type="submit" id="button-addon2"><span class="fa fa-search"></span></button>
              </div>
            </div>
          </form>

          {% if patient_list %}
          <ul class="list-group rounded-0 patient-list">

            {% for patient in patient_list %}
            {% url 'profile' patientId=patient.id as link_url %}
            <a class="list-group-item list-group-item-action border-0 {% if request.get_full_path == link_url %}current-item{% endif %}" href="{% url 'profile' patient.id %}">{{ patient.name }}</a>
            {% endfor %}
          </ul>

          {% else %}

          <div class="p-3">
            <p class="font-italic">No patients found</p>
          </div>

          {% endif %}
        </div>
      </div>
      <div class="col pt-3">
        {% block main %}
        <p>No Patient Selected</p>
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col footer p-4">
      <div class="container-fluid">
        <p>© CompanyName 2020</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/js/nurse_dashboard.js' %}"></script>
{% endblock %}
