{% extends 'base.html' %}


{% block content %}

<header>
  <nav class="navbar navbar-expand-md navbar-light px-4 shadow-sm">
    <a class="navbar-brand" href="{% url 'home' %}">
      <strong>Hub<span class="text-muted"> beta</span></strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">

      <ul class="navbar-nav my-2 my-md-0 ml-auto">
        <li class="nav-item">
          Welcome, {{ user.username }}! <a href="{% url 'logout' %}" class="nav-link d-inline">Logout</a>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form> -->
    </div>
  </nav>
</header>

<p>Welcome, authenticated StaffMember!</p>
{% endblock %}
