{% extends 'dashboard/nurse_dashboard.html' %}
{% load static %}

{% block main %}

<div class="container-fluid">
  {% if patient %}
  <div align="center">
    <div class="bg-light">
      <h3>{{ patient.name }}</h3>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron p-4 p-md-8 rounded">
          <h1 class="display-4">Metrics</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <button class="btn btn-lg btn-dark">Update</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron p-4 p-md-8 text-white rounded bg-dark">
          <h1 class="display-4">Recent Activities</h1>
          {% for activity in activity_list %}
            <p align="left" class="lead my-3">{{activity}}</p>
            <p align="left" class="lead my-3">{{activity.created_at}}</p>
          {% endfor %}
          <button class="btn btn-lg btn-light">Add</button>
        </div>
      </div>
    </div>

    <div class="jumbotron p-4 p-md-8 rounded text-white daily-section">
      <h1 class="display-4">Daily Section</h1>
      <form action="{% url 'profile' patient.id %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <h1>Medications</h1>
            {% for medication in medications %}
            <div class="form-check">
              <input class="form-check-input" {% if medication.id in medications_taken %} checked {% endif %} type="checkbox" name="medications" id="{{medication.name}}" value="{{medication.id}}">
              <label class="form-check-label" for="{{medication.name}}">{{medication}}</label>
            </div>
            {% endfor %}
          </div>
          <div class="col-md-6">
            <h1>Living</h1>
            {% for item in daily_living_list %}
            <div class="form-check">
              <input class="form-check-input" {% if item.id in daily_living_completed %} checked {% endif %} type="checkbox" name="living" id="{{item.name}}" value="{{item.id}}">
              <label class="form-check-label" for="{{item.name}}">{{item}}</label>
            </div>
            {% endfor %}
          </div>
          <br>
        </div>
        <div class="container">
          <div align="center">
            <button type="button submit" class="btn btn-light">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <p>Patient Not Found</p>
  {% endif %}
</div>

{% endblock %}
