#previewVideoContainer{
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* border: 3px solid red; */
  width: 200px;
  height: 150px;
  background-color: black;
}

.video-container video{
  max-height: 100%;
  max-width: 100%;
  /* margin: 0px auto; */
}

#videoControlsContainer{
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  width: 165px;
  margin: 0px auto;
  display: flex;
}

#videoControlsContainer button{
  border-radius: 0px;
}